
*{
   margin: 0;
   padding: 0;
   border-bottom: 0;
}
    :root{
    --background:#2D2929;
    --card:#251A18;
    --button:#EBBE00;
    --text:#000000;

    }

body{
    background-color: var(--background);
}

header {
 width: 100%;
 height: 3.75rem;
 display: flex;
 background-color: var(--card);
}